body {
  font-family: sans-serif;
}

.table {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-container {
  display: inline-grid;
  grid-template-rows: 60px 60px 60px 60px 60px;
  grid-template-columns: auto auto auto auto auto;
}

.grid-item {
  border: 1px solid black;
  border-collapse: collapse;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 30px Helvetica;
}

.wrapper {
  text-align: center;
  margin: 10px;
}

.head {
  text-align: center;
}

.bar {
  margin: 5px auto;
  border: solid 2px black;
  height: 15px;
  width: 50%;
}

#progress {
  width: 300px;
  background-color: green;
  width: 0%;
}

#time {
  text-align: center;
}
